<!-- Decorative border bars -->
<div class="border-left"><div class="bar"></div></div>
<div class="border-right"><div class="bar"></div></div>

<!-- Corner gouttes ornaments -->
{% capture corner_gouttes %}<svg class="corner-gouttes" viewBox="0 0 42 16" xmlns="http://www.w3.org/2000/svg"><path d="M5 1 C5 1 1 7 1 10 a4 4 0 0 0 8 0 C9 7 5 1 5 1 Z"/><path d="M21 3 C21 3 17 8.5 17 11.2 a4 4 0 0 0 8 0 C25 8.5 21 3 21 3 Z"/><path d="M37 1 C37 1 33 7 33 10 a4 4 0 0 0 8 0 C41 7 37 1 37 1 Z"/></svg>{% endcapture %}
<div class="vine-corner vine-tl">{{ corner_gouttes }}</div>
<div class="vine-corner vine-tr">{{ corner_gouttes }}</div>
<div class="vine-corner vine-bl">{{ corner_gouttes }}</div>
<div class="vine-corner vine-br">{{ corner_gouttes }}</div>
