<footer class="site-footer">
  {% if page.title == 'Home' %}
  <div class="ring-colophon" id="umaring-colophon"></div>
  <script>
    fetch('https://umaring.mkr.cx/trentmaziarz')
      .then(function(r) { return r.json(); })
      .then(function(data) {
        document.getElementById('umaring-colophon').innerHTML =
          'This site is part of the <a href="https://github.com/umacabal/umaring">UMass Webring</a>.<br>' +
          'Visit <a href="' + data.prev.url + '">' + data.prev.name + '</a>' +
          ' or <a href="' + data.next.url + '">' + data.next.name + '</a> nearby.';
      })
      .catch(function() {});
  </script>
  {% endif %}
  <div class="copyright">© {{ 'now' | date: '%Y' }} {{ site.title }}</div>
</footer>
