<footer class="site-footer">
  <div class="footer-divider" aria-hidden="true">
    <span class="rule"></span>
    <svg class="footer-gouttes" viewBox="0 0 42 16" xmlns="http://www.w3.org/2000/svg">
      <path d="M5 1 C5 1 1 7 1 10 a4 4 0 0 0 8 0 C9 7 5 1 5 1 Z"/>
      <path d="M21 3 C21 3 17 8.5 17 11.2 a4 4 0 0 0 8 0 C25 8.5 21 3 21 3 Z"/>
      <path d="M37 1 C37 1 33 7 33 10 a4 4 0 0 0 8 0 C41 7 37 1 37 1 Z"/>
    </svg>
    <span class="rule"></span>
  </div>
  <div class="footer-mark">MAZIARZ · MASSACHUSETTS</div>
  {% if page.title == 'Home' %}
  <div class="ring-colophon" id="umaring-colophon"></div>
  <script>
    fetch('https://umaring.mkr.cx/trentmaziarz')
      .then(function(r) { return r.json(); })
      .then(function(data) {
        document.getElementById('umaring-colophon').innerHTML =
          'This site is part of the <a href="https://github.com/umacabal/umaring">UMass Webring</a>.<br>' +
          'Visit <a href="' + data.prev.url + '">' + data.prev.name + '</a>' +
          ' or <a href="' + data.next.url + '">' + data.next.name + '</a> nearby.';
      })
      .catch(function() {});
  </script>
  {% endif %}
  <div class="copyright">© {{ 'now' | date: '%Y' }} {{ site.title }}</div>
</footer>
